h1 {
  color: white;
}

button {
  color: white !important;
}

.uk-container {
  margin: 0;
  padding: 150px;
  width: 75%;
  text-align: center;
}

.uk-card {
  background-color: gray;
}

.uk-card-title {
  color: black;
}

p {
  color: black;
}

button a {
  color: black;
}

.stockListItems:hover {
  cursor: pointer;
}
