*:focus {
  outline: 0 !important;
}

body {
  margin: 0;
  background: #EEEEEE;
  font-size: 18px;
  height: 100vh;
}

.container {
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: white;
  font-size: 10vh;
}

a,
a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

li {
  list-style: none;
}

.home {
  padding: 20% 0;
}
.attention {
  margin: 0;
  background: linear-gradient(45deg, #059ce5, #01579B);
  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
}


.button1 {
  display: inline-block;
  padding: 0.5em 1.5em;
  margin: 2em 0.3em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #BD4702;
  text-align: center;
  outline: none;
}

p {
  margin: 2em;
  color: white;
  text-align: center;
  overflow: auto;
  line-height: 1.7rem;
}

.bird {
  position: relative;
  right: 0;
  width: 8%;
  height: 8%;
  align-items: end;
}

input, button {
  width: calc(100% - 8em);
  padding: 1em;
  font-size: 1rem;
  outline: none;
  margin: 1em;
}

#stockInputBtn {
  width: calc(100% - 7em);
  color: white;
  border: none;
  cursor: pointer;
}
.button2 {
  display: inline-block;
  padding: 0.5em 2em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #BD4702;
  text-align: center;
  outline: none;
}

.stockListItems:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1140px) {

  input, button {
    font-size: 1.3rem;
    margin: 1em;
  }

  #searchForm {
    margin: 0 20em 0 20em;
  }
}